.uppercase {
  text-transform: uppercase;
}

.visualizer-wrap {
  background: black;
  max-width: 1370px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 22;
  font-family: 'Josefin Sans';
}

.head_tab__list,
.tab__list {
  height: auto;
  display: flex;
}
.head_tab__list{
  width: 76%;
  margin-left: 4%;
  margin-top: 12px;
  border-bottom: solid #f6b03a 3px;
}
.tab__list {
  border-bottom: solid #f6b03a 2px;
  margin-top: 4px;
  margin-bottom: 3%;
}
.head-tab-list-wrap{
  z-index: 22;
  position: relative;
  background: black;
  left: unset;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  width: 90%;
  float: right;
}
.cus-select-down {
  background: rgba(255, 255, 255, 0) url('/media/o2sconcept/icon/triangle-down.svg') no-repeat 99% 49%;
}
.select-arrow {
  position: absolute;
  left: 52%;
  width: 20px;
  height: 20px;
  background-size: cover;
  z-index: 22;
  top: 2%;
  cursor: pointer;
  display: none;
}
.visual_content {
  display: block;
  width: 100%;
  height: auto;
}


.visual_tab_content {
  display: none;
}

.visual_tab_content.is--active {
  display: block;
}

.tab__content {
  display: none;
  width: 100%;
}

.tab__contents {
  background-size: cover;
  display: block;
  height: 704px;
  width: 100%;
  background-color: #777777;
  position: relative;
  transition: all 0.7s ease 0s;
    transition-duration: 0.7s;
    transition-timing-function: cubic-bezier(0.86, 0.47, 0.21, 0.59);
    transition-delay: 0s;
    transition-property: all;
}
.tab__contents.demo {
  transition: all 0.7s ease 0s;
    transition-duration: 0.7s;
    transition-timing-function: cubic-bezier(0.86, 0.47, 0.21, 0.59);
    transition-delay: 0.5s;
    transition-property: all;
}

.tab__content.is--active {
  display: block;
}

.tab__content-item {
  display: block;
  width: 76%;
  margin: 0;
  position: relative;
  float: left;
  margin-left: 4%;
  margin-bottom: 16px;
}

.product-wrap {
  height: 154px;
  width: 154px;
  margin: 0 auto 12px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  cursor: pointer;
  position: relative;
  border-radius: 2px;
  transition: 0.3s;
  flex-direction: column;
}
.product-wrap.is--active{
  transition: 0.3s;
}
.product-wrap.is--active,
.product-wrap:hover{
  width: 170px;
  height: 170px;
  box-sizing: border-box;
  border: 3px solid #f6b03a;
  padding: 4px;
}
.visualizer_product {
  height: 100%;
}

.visualizer_scene {
  width: max-content;
  height: 137px;
  margin: 0 auto 12px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  cursor: pointer;
  position: relative;
}
.visualizer_scene.is--active {
  box-sizing: border-box;
  height: 140px;
  border: 3px solid #f6b03a;
  padding: 4px;
  transition: 0.3s;
}
.visualizer_scene:hover {
  box-sizing: border-box;
  border: 3px solid #f6b03a;
  padding: 4px;
  transition: 0.3s;
}

.add-to-button {
  width: 50px !important;
  padding: unset !important;
  height: 59px !important;
  background-color: unset !important;
  border: none !important;
}

.see-more-btn{
  width: 154px;
  margin: 0 auto 12px;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  border: 0 !important;
  border-radius: 2px !important;
  align-items: center;
  text-align: center;
  line-height: 1.25 !important;
  color: #f4f4f4 !important;
  font-family: inherit;
  text-transform: uppercase;
  padding-top: 15px;
  padding-bottom: 15px;
}
.loader {
  margin: auto;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 2s linear infinite;
  display: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.supper_tab__list {
  display: flex;
  width: 70%;
}

.tab__item {
  cursor: pointer;
  text-align: center;
  transition: 0.2s;
  font-size: 18px;
  color: #f4f4f4;
}
.tab__item1 {    
  margin-right: 4%;
  margin-left: auto;
}
.tab__item2 {    
  margin-right: 4%;
  margin-left: 4%;
}
.tab__item3 {
  margin-right: 0;
  margin-left: 4%;
}
.tab__item:hover,
.tab__item-head:hover{
  color: rgb(209, 156, 21) !important;
}
.tab__item-head {
  cursor: pointer;
  margin-right: 0;
  margin-left: auto;
  transition: 0.2s;
  position: relative;
}
.title-tab-list,
.title-head-tab-list {
  display: block;
  color:#f6f6f6;
  background-image: linear-gradient(to right, #f6b03a , #f6b03a);  font-weight: 600;
  padding-left: 1%;
  height: 32px;
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 2.5rem;
}
.title-head-tab-list{
  width: 13%;
}
.title-tab-list{
  width: 50%;
  margin-right: 3%;
}

.title-head-tab-list:before,
.title-tab-list:before {
  display: block;
  content: " ";
  position: absolute;
  top: 0;
  padding-top: 4px;
  background: black;
}
.title-tab-list:before {
  height: 32px;
  width: 8%;
  transform: skew(50deg, 0deg);
  right: 47%;
  bottom: 0;
  margin-top: 4px;
}
.title-head-tab-list:before {
  height: 44px;
  width: 2%;
  transform: skew(23deg, 0deg);
  right: 85%;
  margin-top: 0px;
} 

.tab__content-item .tab__item,
.tab__item-head {
  color: #ddd;
  font-weight: 400;
  font-size: 1rem;
}

.tab__item-head.is--active {
  position: relative;
}


// .tab__item.is--active,
.tab__item-head.is--active:before {
  visibility: visible;
  opacity: 1;
}

.tab__item .tab-text{
  border-bottom: 1px solid black;
}

.tab__item-head .tab-text{
  border-bottom: 1px solid black;
}

.tab__item .tab-text,
.tab__item-head .tab-text{
  margin: 1px;
  margin-top: 8px;
  transition: 0.2s;
  line-height: 16px;
  width: max-content;
}

.tab__item .tab-text.is--active,
.tab__item-head .tab-text.is--active{
  border-bottom: 1px solid;
  border-image: linear-gradient(to left, rgba(209, 156, 21, 0) 0%, rgb(209, 156, 21, 1) 42%, rgba(209, 156, 21, 0.7) 68%, rgba(209, 156, 21, 0) 100%) 0 0 100% 0/1px 0 1px 0 stretch;
  color: rgb(209, 156, 21) !important;
}

.scene_carousels {
  display: block;
  width: 20%;
  position: relative;
  border: #444;
  float: right;
  height: 803px;
  margin-left: auto;
  margin-bottom: 20px;
  margin-top: -30px;
}

.scene_carousels .scene_carousel {
  cursor: default;
  display: none;
  width: 100%;
}

.scene_carousels .scene_carousel.is--active {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.selection-image {
  height: 100%;
  width: 100%;
  float: left;
  display: block;
}

.selection-type-image {
  width: 100%;
  height: 83%;
  display: block;
  background-size: cover;
}

.selections {
  overflow-y: auto;
}
.type-selection{
  height: auto;
  width: 100%;
  display: block;
  color: #f4f4f4;
  text-align: center;
  position: inherit;
  background: #181818;
  padding: 2px;
  white-space: nowrap;
  font-size: 1em;
}
/* custom scrollbar */

.selection_ul::-webkit-scrollbar,.selections::-webkit-scrollbar {
  width: 30px;
}


.selection_ul::-webkit-scrollbar-track,.selections::-webkit-scrollbar-track {
background-color: black
}

.selection_ul::-webkit-scrollbar-thumb,.selections::-webkit-scrollbar-thumb {
background: #333;
/*     border-radius: 10px; */
border: 1px solid transparent;
background-clip: content-box
} 


/* Buttons */
.selection_ul::-webkit-scrollbar-button:single-button,.selections::-webkit-scrollbar-button:single-button {
  background-color: black;
  display: block;
  border-style: solid;
  height: 50px;
  width: 40px;
}
/* Up */
.selection_ul::-webkit-scrollbar-button:single-button:vertical:decrement,.selections::-webkit-scrollbar-button:single-button:vertical:decrement {
  border-width: 0px 15px 25px 15px;
  border-color: transparent transparent #f6b03a transparent;
}

/* Down */
.selection_ul::-webkit-scrollbar-button:single-button:vertical:decrement,.selections::-webkit-scrollbar-button:single-button:vertical:increment {
  border-width: 25px 15px 0px 15px;
  border-color: #f6b03a transparent transparent transparent;
}



.ng-scope:hover .ng-binding {
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  color: #f4f4f4;
}
.ng-scope:hover  {
  background: #0D9868;
  transition: 0.3;
}
.ng-scope {
    padding-left: 5%;
    margin-bottom: 1px;
    background: #c1c1c1;
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-left: 5px;
    color: #1d2129;
    font-weight: 600;
}

.selection_ul {
  cursor: pointer;
  list-style: none;
  padding: 0;
  margin: 0 0 .6rem;
  height: 35.95rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.select_guide_lable {
  height: 47px;
}

.scene_carousel .scene_carousel_button {
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  height: 4rem;
  border: 0;
  text-align: left;
  line-height: 1.5;
  background: #f6b03a !important;
  color: #f4f4f4 !important;
  font-family: inherit;
  margin-top: 8px;
  text-transform: uppercase;
  margin-left: 11%;
  padding: 0;
  padding-left: 15%;
  width: 86%;
}

// .scene_carousel .scene_carousel_button:hover {
//   background: #b78506 !important;
//   transition: 0.25s;
// }

.see-more-btn,
.scene_carousel .scene_carousel_button.attention-button{
  background: #f6b03a !important;
} 
.scene_carousel .scene_carousel_button:hover,
.scene_carousel .scene_carousel_button.attention-button:hover{
  background: #a77802 !important;
}
.scene_carousel .scene_carousel_icon {
  left: 1rem;
  top: 1.4rem;
  color: #f4f4f4;
  font-size: 1.25rem;
} 
.overlay {    
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 19;
  top: auto;
  bottom: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  opacity: 0.8;
}
.custom-logo{
  display: block;
  position: relative;
  z-index: 22;
  background: #e7e7e7;
  border-radius: 56px;
  text-align: center;
  box-shadow: 0px 0px 24px 5px #f4f4f4;
}


.scene-overlay:hover,
.product-overlay:hover{
  opacity: 1;
}
.scene-overlay .overlay-content,
.product-overlay .overlay-content {
  font-size: 16px;
  background: #000000cf;
  width: 100%;
  padding: 20px;
  text-align: center;
}

.product-overlay.is--active:hover {
  opacity: 1;
  transition: 0.3s;
  transition-delay: 0.3s;
  color: #f05826;
  font-weight: 800;
  font-size: 22px;
}

.product-overlay,
.scene-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.5s ease;
}

.scene-overlay.is--active {
  opacity: 1;
  transition: 0.3s;
}

.large-show {
  display: block;
  text-align: justify;
  text-justify: inter-word;
}
.blur{
  color: transparent !important;
  text-shadow: 0 0 3px #000;
}
.ui-memu-item-lv1{
  color:#fff;
}
.blur-white {
  color: transparent !important;
  text-shadow: 0 0 3px #f4f4f4;
}
.button-group {
  width: 100%;
  margin-top: auto;
  display: block;
}
@media (max-width: 1420px) {

/* custom scrollbar */

.selection_ul::-webkit-scrollbar,.selections::-webkit-scrollbar {
  width: 20px;
}

/* Up */
.selection_ul::-webkit-scrollbar-button:single-button:vertical:decrement,.selections::-webkit-scrollbar-button:single-button:vertical:decrement {
  border-width: 0px 10px 18px 10px;
}

/* Down */
.selection_ul::-webkit-scrollbar-button:single-button:vertical:decrement,.selections::-webkit-scrollbar-button:single-button:vertical:increment {
  border-width: 18px 10px 0px 10px;
}
}
@media (max-width: 1320px) {
  .tab__contents {
      height: 645px;
  }
  
  .visualizer_scene {
      margin: auto auto 8px auto;
  }
  
  .scene_carousels {
      height: 742px;
  }

  .visualizer_scene.is--active,.visualizer_scene:hover {
      height: 130px;
  }
  .product-wrap.is--active,.product-wrap:hover {
      width: 160px;
      height: 160px;
  }
  .product-wrap {
      height: 144px;
      width: 144px;
  }
}
@media (max-width: 1287px){

}
@media (max-width: 1220px) {
  .title-head-tab-list {
    width: 18%;
  }
  .title-head-tab-list:before {
    width: 50px;
    left: 160px;
  }
  .head-tab-list-wrap{
    display: block;
    z-index: 22;
    position: absolute;
    background: black;
    left: 38%;
    width: auto;
  } 
  .select-arrow {
    display: block;
  }
  .tab__item-head {
    display: none;
  }
  .tab__item-head.is--active {
    display: block;
  }
  .tab__contents {
      height: 590px;
  }
  .scene_carousels {
      height: 686px;
  }
  .visualizer_scene {    
      height: 110px;
  }
  .visualizer_scene.is--active,.visualizer_scene:hover {
      height: 120px;
  }
}
@media (max-width: 1180px) {
.tab__contents {
    height: 570px;
}
.scene_carousels {
    height: 665px;
}
  .product-wrap:hover,
  .product-wrap.is--active {
      height: 150px;
      width: 150px;
  }
  .visualizer_scene {    
      height: 110px;
  }
  .visualizer_scene.is--active,.visualizer_scene:hover {
      height: 120px;
  }
}


@media (max-width: 1120px) {
  .title-head-tab-list {
    min-width: 125px;
  }
  .tab__contents {
      height: 540px;
  }
  .scene_carousels {
      height: 632px;
  }
  .product-wrap:hover,
  .product-wrap.is--active {
      height: 136px;
      width: 136px;
  }

  .product-wrap {
      height: 124px;
      width: 124px;
  }

  .visualizer_scene {    
      height: 100px;
  }
  .visualizer_scene.is--active,.visualizer_scene:hover {
      height: 110px;
  }

}
@media (max-width: 1050px) {
  .visualizer-wrap {
      max-width:700px
  }

  .title-head-tab-list {
      min-width: 125px
  }

  .title-head-tab-list:before {
      left: 125px
  }

  .title-tab-list {
      width: 40%
  }

  .title-tab-list:before {
      left: 36%;
      right: unset
  }
  .tab__contents {
    width: 100%;
    height: 450px;
  }
  .visual_content {
      background: unset
  }

  .head_tab__list {
      width: 95%;
      margin-left: 2.5%
  }
  .selection_ul,
  .selections {
      display: -webkit-inline-box;
      width: 100%;
      overflow-x: auto;
  }

  .scene_carousels {
      width: 100%;
      margin: 0;
      height: 250px
  }

  .scene_carousels .scene_carousel.is--active {
      display: flex;
      height: 100%;
      margin: auto;
      width: 95%;
      align-items: center;
      flex-direction: column;
      justify-content: space-between
  }

  .button-group {
      display: flex
  }

  .scene_carousel .scene_carousel_button {
      width: 40%;
      margin-left: auto;
      margin-right: auto;
      padding-left: unset;
      text-align: center;
      display: block;
      margin-bottom: 12px
  }

  .visualizer_scene.is--active,.visualizer_scene:hover {
      height: 150px
  }

  .product-wrap.is--active,.product-wrap:hover {
      width: 150px;
      height: 150px;
      margin: auto 12px auto 0px
  }

  .visualizer_scene {
      height: 145px
  }

  .visualizer_scene {
      width: max-content;
      height: 145px;
      position: relative;
      margin: auto 12px auto 0px
  }
  .product-wrap {
      height: 145px;
      width: 145px;
      margin: auto 12px auto 0px
  }

  .tab__content-item {
      width: 95%;
      margin-left: 2.5%
  }

  .selection_ul {
      height: inherit;
      overflow-x: auto;
      display: -webkit-inline-box;
  }

  .see-more-btn {
      width: auto;
      margin: auto;
      padding: 15px 30px 15px 30px;
      border: 0 !important;
      align-items: center;
      line-height: 1.25 !important;
      color: #f4f4f4 !important;
      font-family: inherit;
      text-transform: uppercase;
      background: #f6b03a !important
  }
  .selection_ul::-webkit-scrollbar, .selections::-webkit-scrollbar {
      height: 5px;
  }
  .selection_ul::-webkit-scrollbar-thumb, .selections::-webkit-scrollbar-thumb {
  background: #d19c1587;
  border: 1px solid transparent;
  background-clip: content-box;
  }
}


@media (max-width: 740px) {
  .tab__contents {
      height: 58vw;
  }
  .scene_carousels {
  width: 100%;
  margin: 0;
  height: 39vw;
  }
  .visualizer_scene {
      width: max-content;
      height: 18vw;
      position: relative;
      margin: auto 12px auto 0px;
  }
  .product-wrap {
  height: 18vw;
  width: 18vw;
  min-width: 145px;
  min-height: 145px;
  margin: auto 12px auto 0px;
  }
  .button-group {
  display: flex;
  height: 30%;
  }
  .scene_carousel .scene_carousel_button {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  padding-left: unset;
  text-align: center;
  display: block;
  margin-bottom: 12px;
  height: 75%;
  border-radius: 2px;
  font-size: 1em;
  }
}

@media (max-width: 414px) {
      .scene_carousels {
  width: 100%;
  margin: 0;
  height: 39vw;
  }
  .visualizer_scene {
      width: max-content;
      height: 24vw;
      position: relative;
      margin: auto 12px auto 0px;
  }
  .product-wrap {
  height: 18vw;
  width: 18vw;
  min-width: 100px;
  min-height: 100px;
  margin: auto 12px auto 0px;
  }
  .type-selection {
  height: auto;
  padding: 0px;
  white-space: nowrap;
  font-size: 1em;
}
.tab__contents {
  height: 58vw;
}
}